Source: gcc-4.1
Section: devel
Priority: standard
Maintainer: Alexander Shishkin <alexander.shishkin@siemens.com>
Standards-Version: 3.6.1
Build-Depends: dpkg-dev (>= 1.13.9), libc6-dev-ppc64-cross (>= 2.3.6-1), m4, autoconf2.13, autoconf, automake1.4, automake1.7, libtool, autotools-dev, gawk, bzip2, dpkg-cross (>= 1.18.1), binutils-powerpc64-linux-gnu (>= 2.15-7), debhelper (>= 4.1), bison (>= 1:1.875), flex, realpath (>= 1.9.12), lsb-release

Package: libgcc1-ppc64-cross
Architecture: all
Section: devel
Priority: extra
Provides: libgcc1-ppc64-dcv1
Depends: ${shlibs:Depends}
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.
 .
 This package contains files for ppc64 architecture, for use in cross-compile
 environment.

Package: libgcc1
Architecture: ppc64
Section: libs
Priority: required
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.

Package: libgcc2-ppc64-cross
Architecture: all
Section: devel
Priority: extra
Depends: ${shlibs:Depends}
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.
 .
 This package contains files for ppc64 architecture, for use in cross-compile
 environment.

Package: gcc-4.1-powerpc64-linux-gnu
Architecture: any
Section: devel
Priority: extra
Depends: , libgcc1-ppc64-cross (>= 1:4.1.2-1), ${shlibs:Depends}, cpp-4.1-powerpc64-linux-gnu (>= 4.1.2-1), cpp-4.1-powerpc64-linux-gnu (<< 4.1.3), binutils-powerpc64-linux-gnu (>= 2.15-7)
Recommends: libc6-dev-ppc64-cross (>= 2.3.6-1)
Conflicts: gcc-3.2-powerpc64-linux-gnu (<= 1:3.2.3-0pre8)
Suggests: gcc-4.1-doc (>= 4.1.2-1)
Provides: c-compiler-powerpc64-linux-gnu
Description: The GNU C compiler
 This is the GNU C compiler, a fairly portable optimizing compiler for C.
 .
 ABIs changed between gcc-3.3 and gcc-3.4 on some architectures (hppa, m68k,
 mips, mipsel, sparc). Please read /usr/share/doc/gcc-3.4/README.Debian
 for more details.
 .
 This package contains C cross-compiler for ppc64 architecture.

Package: cpp-4.1-powerpc64-linux-gnu
Architecture: any
Section: devel
Priority: extra
Depends: , ${shlibs:Depends}
Conflicts: gcc-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), g++-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), gobjc-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), gcj-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), g77-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), gnat-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), treelang-4.1-powerpc64-linux-gnu (<< 4.1.0-slind0), gpc-2.1-4.1 (<< 4.1.0-slind0)
Description: The GNU C preprocessor
 A macro processor that is used automatically by the GNU C compiler
 to transform programs before actual compilation.
 .
 This package has been separated from gcc for the benefit of those who
 require the preprocessor but not the compiler.
 .
 This package contains preprocessor configured for ppc64 architecture.

Package: gcc-4.1-source
Architecture: all
Priority: optional
Depends: make (>= 3.80)
Description: Source of the GNU Compiler Collection
 This package contains the sources and patches which are needed to
 build the GNU Compiler Collection (GCC).

