Source: gcc-4.1
Section: devel
Priority: standard
Maintainer: Alexander Shishkin <alexander.shishkin@siemens.com>
Standards-Version: 3.6.1
Build-Depends: dpkg-dev (>= 1.13.9), libc6-dev-arm-cross (>= 2.3.2.ds1-16), m4, autoconf2.13, autoconf, automake1.4, automake1.7, libtool, autotools-dev, gawk, bzip2, dpkg-cross (>= 1.18.1), binutils-arm-linux-gnu (>= 2.15-7), debhelper (>= 4.1), bison (>= 1:1.875), flex, realpath (>= 1.9.12), lsb-release

Package: libgcc1-arm-cross
Architecture: all
Section: devel
Priority: extra
Provides: libgcc1-arm-dcv1
Depends: ${shlibs:Depends}
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: libgcc1
Architecture: arm
Section: libs
Priority: required
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.

Package: libgcc2-arm-cross
Architecture: all
Section: devel
Priority: extra
Depends: ${shlibs:Depends}
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: gcc-4.1-arm-linux-gnu
Architecture: any
Section: devel
Priority: extra
Depends: , libgcc1-arm-cross (>= 1:4.1.0-slind0), ${shlibs:Depends}, cpp-4.1-arm-linux-gnu (>= 4.1.0-slind0), cpp-4.1-arm-linux-gnu (<< 4.1.1), binutils-arm-linux-gnu (>= 2.15-7)
Recommends: libc6-dev-arm-cross (>= 2.3.2.ds1-16)
Conflicts: gcc-3.2-arm-linux-gnu (<= 1:3.2.3-0pre8)
Suggests: gcc-4.1-doc (>= 4.1.0-slind0)
Provides: c-compiler-arm-linux-gnu
Description: The GNU C compiler
 This is the GNU C compiler, a fairly portable optimizing compiler for C.
 .
 ABIs changed between gcc-3.3 and gcc-3.4 on some architectures (hppa, m68k,
 mips, mipsel, sparc). Please read /usr/share/doc/gcc-3.4/README.Debian
 for more details.
 .
 This package contains C cross-compiler for arm architecture.

Package: cpp-4.1-arm-linux-gnu
Architecture: any
Section: devel
Priority: extra
Depends: , ${shlibs:Depends}
Conflicts: gcc-4.1-arm-linux-gnu (<< 4.1.0-slind0), g++-4.1-arm-linux-gnu (<< 4.1.0-slind0), gobjc-4.1-arm-linux-gnu (<< 4.1.0-slind0), gcj-4.1-arm-linux-gnu (<< 4.1.0-slind0), g77-4.1-arm-linux-gnu (<< 4.1.0-slind0), gnat-4.1-arm-linux-gnu (<< 4.1.0-slind0), treelang-4.1-arm-linux-gnu (<< 4.1.0-slind0), gpc-2.1-4.1 (<< 4.1.0-slind0)
Description: The GNU C preprocessor
 A macro processor that is used automatically by the GNU C compiler
 to transform programs before actual compilation.
 .
 This package has been separated from gcc for the benefit of those who
 require the preprocessor but not the compiler.
 .
 This package contains preprocessor configured for arm architecture.

Package: g++-4.1-arm-linux-gnu
Architecture: any
Section: devel
Priority: extra
Depends:  ${shlibs:Depends}, gcc-4.1-arm-linux-gnu (>= 4.1.0-slind0), gcc-4.1-arm-linux-gnu (<< 4.1.1), libuclibc++-dev-arm-cross | libstdc++6-dev-arm-cross (>= 4.1.0-slind0)
Replaces: gcc-arm-linux-gnu (<= 2.7.2.3-3)
Provides: c++-compiler-arm-linux-gnu, c++abi2-dev
Suggests: gcc-4.1-doc (>= 4.1.0-slind0)
Description: The GNU C++ compiler
 This is the GNU C++ compiler, a fairly portable optimizing compiler for C++.
 .
 ABIs changed between gcc-3.3 and gcc-3.4 on some architectures (hppa, m68k,
 mips, mipsel, sparc). Please read /usr/share/doc/gcc-3.4/README.Debian
 for more details. Do not mix code compiled with g++-3.3 and g++-3.4.
 .
 This package contains C++ cross-compiler for arm architecture.

Package: libstdc++6-arm-cross
Architecture: all
Section: devel
Priority: extra
Depends:  ${shlibs:Depends}
Provides: libstdc++6-arm-dcv1
Conflicts: libstdc++6-0
Replaces: libstdc++6-0
Description: The GNU Standard C++ Library v3
 This package contains an additional runtime library for C++ programs
 built with the GNU compiler.
 .
 libstdc++-v3 is a complete rewrite from the previous libstdc++-v2, which
 was included up to g++-2.95. The first version of libstdc++-v3 appeared
 in g++-3.0.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: libstdc++6
Architecture: arm
Section: libs
Priority: required
Depends: ${shlins:Depends}
Description: The GNU Standard C++ Library v3 (arm)
 This package contains an additional runtime library for C++ programs
 built with the GNU compiler.
 .
 libstdc++-v3 is a complete rewrite from the previous libstdc++-v2, which
 was included up to g++-2.95. The first version of libstdc++-v3 appeared
 in g++-3.0.

Package: lib32stdc++6-arm-cross
Architecture: all
Section: devel
Priority: extra
Depends: gcc-4.1-base (>= 4.1.0-slind0), lib32gcc1
Description: The GNU Standard C++ Library v3 (ia32)
 This package contains an additional runtime library for C++ programs
 built with the GNU compiler.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: libstdc++6-dev-arm-cross
Architecture: all
Section: devel
Priority: extra
Depends:  libstdc++6-arm-cross (>= 4.1.0-slind0), libc6-dev-arm-cross (>= 2.3.2.ds1-16), g++-4.1-arm-linux-gnu (>= 4.1.0-slind0)
Provides: libstdc++6-dev-arm-dcv1
Provides: libstdc++-dev-arm-cross
Description: The GNU Standard C++ Library v3 (development files)
 This package contains the headers and static library files necessary for
 building C++ programs which use libstdc++. Be advised that this only works
 with the GNU C++ compiler (version 3.0), and no earlier library will work it.
 .
 libstdc++-v3 is a complete rewrite from the previous libstdc++-v2, which
 was included up to g++-2.95. The first version of libstdc++-v3 appeared
 in g++-3.0.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: libstdc++6-pic-arm-cross
Architecture: all
Section: devel
Priority: extra
Depends:  libstdc++6-arm-cross (>= 4.1.0-slind0), libstdc++6-dev-arm-cross (>= 4.1.0-slind0)
Conflicts: libstdc++6-0-pic
Replaces: libstdc++6-0-pic
Description: The GNU Standard C++ Library v3 (shared library subset kit)
 This is used to develop subsets of the libstdc++ shared libraries for
 use on custom installation floppies and in embedded systems.
 .
 Unless you are making one of those, you will not need this package.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: libstdc++6-dbg-arm-cross
Architecture: all
Section: devel
Priority: extra
Depends:  libstdc++6-arm-cross (>= 4.1.0-slind0)
Recommends: libstdc++6-dev-arm-cross (>= 4.1.0-slind0)
Conflicts: libstdc++6-0-dbg, libstdc++5-dbg-arm-cross, libstdc++5-3.3-dbg-arm-cross, libstdc++6-4.0-dbg-arm-cross
Replaces: libstdc++6-0-dbg
Description: The GNU Standard C++ Library v3 (debugging files)
 This package contains the shared library of libstdc++ compiled with
 debugging symbols.
 .
 This package contains files for arm architecture, for use in cross-compile
 environment.

Package: gcc-4.1-source
Architecture: all
Priority: optional
Depends: make (>= 3.80)
Description: Source of the GNU Compiler Collection
 This package contains the sources and patches which are needed to
 build the GNU Compiler Collection (GCC).

